.ImageUpload{
    display: flex;
    flex-direction: column;
    width: 90%; 
    object-fit: contain;
    margin: 20px;
    height: 300px;
    justify-content: space-evenly;
}
.imageUpload__progress{
    width: 100%;
    border: 0px;
}
.imageUpload__select::-webkit-file-upload-button {
    visibility: hidden;
  }
.caption{}